@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.search-input{
    position: relative;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    background-image: url(../assets/images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    z-index: 10;
   &:focus{
    outline: none;
    color:var(--secondary-color);
    caret-color: var(--main-color);
    border-bottom: 1px solid var(--quaternary-color);
   }
}

@include responsive(desktop){
    .search-input{

    }
}