@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.trending{
    overflow-x: scroll;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
   &__slider{
    display: flex;
    gap: 4rem;
    width: fit-content;
   }
   &__info{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  
   }
    &__item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1rem;
        height: 140px;
        width: 250px;
        background-size: cover;
        border-radius: 1rem;
        
    }
    &__title{
        font-size: 1.5rem;
        color: var(--secondary-color)
    }
    &__year,&__media{
        color: var(--secondary-color)
    }
    
}
.section__title{
    font-size: 1.5rem;
    color:var(--secondary-color)
}
.bookmark{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
}

@include responsive(desktop){
    .trending{
       
        &__item{
            height: 230px;
            width: 470px;
            padding: 2rem;
            padding: 2rem;
    
            &__title{
                font-size: 2rem;
               
            }
        }
    }
    .section__title{
        font-size: 2rem;
        color:var(--secondary-color)
    }
    .bookmark{

      
        right: 2rem;
        top: 2rem;
       
    }
}

/* width */
::-webkit-scrollbar {
    height: 5px;
    background-color: var(--quaternary-color);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
    height: 5px;
    border-radius: 2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }