:root {
  /* Variables CSS */
  --main-color:#FC4747;
  --background-color: #10141E;
  --secondary-color:#fff;
  --tertiary-color:rgba(22, 29, 47, 1);
  --quaternary-color: rgba(90, 105, 143, 1);


}

/* Variables SASS */
